---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Roboto mono", monospace;

$brand-color: #00a276ff;
$light-brand-color: #00d69d;

$container-width: 800px;
$tablet-width: 480px;
$phone-width: 480px;
// $tablet-width: 600px;
// $phone-width: 480px;

$header-thickness: 56px;

// $icon-transition-time: 1.0s;
// $envelope-color: #f39c12;
// $twitter-color: #00aced;
// $instagram-color: #375989;
// $github-color: #343434;
// $linkedin-color: #0073a4;
// $facebook-color: #3d5b99;
// $google-color: #e64a41;
// $pinterest-color: #bd081c;
// $medium-color: #00AB6C;
// $codepen-color: black;
// $rss-color: #ff6600;

$icon-transition-time: 0.65s;
$envelope-color: #00d69d;
$twitter-color: #00d69d;
$instagram-color: #00d69d;
$github-color: #00d69d;
$linkedin-color: #00d69d;
$facebook-color: #00d69d;
$google-color: #00d69d;
$pinterest-color: #00d69d;
$medium-color: #00d69d;
$codepen-color: #00d69d;
$rss-color: #00d69d;
$info-circle-color: #00d69d;

@import "-sections-dir";
